
// .cardGrid {
//     margin: 2em 0;
//     display: grid;
//     grid-template-columns: repeat(3, minmax(200px, 1fr));
//     grid-gap: 48px;
// }
.home{
  background:url('./homebackground.png')
}

.container {
  max-width: 1100px;
	 margin: 0 auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;

}
// .bookCards {
// 	display: -webkit-flex;
// 	display: flex;
// 	-webkit-justify-content: center;
// 	justify-content: center;
// 	-webkit-flex-wrap: wrap;
// 	flex-wrap: wrap;
// 	margin-top: 15px;
// 	padding: 1.5%;
// 	-webkit-box-sizing: border-box;
// 	-moz-box-sizing: border-box;
// 	box-sizing: border-box;
// }