.learningTools {
    padding: 40px;
    font-family: Roboto, sans-serif;
    // margin:0 auto;
    color: #03958e; 
    text-align:center;
    
      &__title {
        font-weight: 900;
        font-size: 2em;
        padding-bottom: 15px;
        // text-align:center;
        
      }
   
      &__container {
         
          //  &__item{
            display: grid;
            grid-template-columns: 1fr 1fr ;
            column-gap: 20px;
            justify-content:center;
            align-items: center;  
            &__image{  
                width:100%;
                // text-align:right;
            }
          }
          &__text {
              font-size:1.5em;
              font-weight:700;
               width:100%;
              // text-align:left;
              
          }
   
  }
  
  

