



@import "compass";
@import "breakpoint";

@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:900');
// body {
//   align-items: center;
//   display: flex;
//   height: 100vh;
//   justify-content: center;
//   font-family: sans-serif;
//   margin: 0;
//    	font-size: 17px; 
//  	line-height: 1.4;
//  }

// .container {
// 	max-width: 1100px;
// 	margin: 0 auto;
//   display: flex;
//   justify-content: center;
//   flex-wrap: wrap;
//   	margin-top: 15px;
// 	padding: 1.5%;
// }


// //Todo clean up some crappy code
// .bookCards {
// 	display: -webkit-flex;
// 	display: flex;
// 	-webkit-justify-content: center;
// 	justify-content: center;
// 	-webkit-flex-wrap: wrap;
// 	flex-wrap: wrap;
// 	margin-top: 15px;
// 	padding: 1.5%;
// 	-webkit-box-sizing: border-box;
// 	-moz-box-sizing: border-box;
// 	box-sizing: border-box;
// }
.bookCard {
  	@media (max-width: 700px) {
		width: 100%;
	}
   position: relative;
  background: white;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  cursor: pointer;
  height: 300px;
  margin: 20px;
  padding: 0 20px;
  -webkit-tap-highlight-color: rgba(0,0,0,0.025);
  position: relative;
  text-align: center;
  transition: height 1000ms;
  width: 260px;
  @include box-shadow(rgba(black, 0.19) 0 0 8px 0);
	@include border-radius(4px);
	@include breakpoint(700px, $no-query: true) {
	//switch to 2 columns
		max-width: 320px;
		margin-right: 20px;
		margin-bottom: 20px;
		&:nth-child(even) {
			margin-right: 0;
		}
	}
	@include breakpoint(980px, $no-query: true) {
	//switch to 3 columns
		&:nth-child(even) {
			margin-right: 20px;
		}
		&:nth-child(3n) {
			margin-right: 0;
		}
	}
  &.expanded {
    height: 400px;
  }

  &__summary{
    padding: 0px 10px;
    margin:16px  auto 0 auto;

    &-list{
      margin-top: 8px;
    }
  
    &.expanded{
       margin: 10px auto ;
    }
  }
  
  
&__image { 
  margin-top: 30px;
  width:50px;
  height:50px;
   transform: translateY(10px);
  transition: transform 1000ms;
   z-index:1;
  &.expanded {
  transform: translateX(0); 
 }  
} 

&__info {

   clip-path: polygon(0% 100%, 0 -90%, 50% -5%, 100% -70%, 100% 100%);
  -webkit-clip-path: polygon(0% 100%, 0 -90%, 50% -5%, 100% -90%, 100% 100%); 
  transition: clip-path 1000ms;
 
    z-index:2;
  &.expanded {
     clip-path:none;
     // clip-path: polygon(0% 100%, 0 -100%, 50% -25%, 100% -100%, 100% 100%); 
  }
}
  &__content{
   
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px 10px;
    // background-color: rgba(255, 255, 255, 0.8);
     clip-path: polygon(0% 100%, 0 -90%, 50% -5%, 100% -90%, 100% 100%);
  -webkit-clip-path: polygon(0% 100%, 0 -90%, 50% -5%, 100% -90%, 100% 100%); 
  transition: clip-path 100ms;
    transform: translateY(-108%);
    transition: transform 0.5s ease-in-out;
    &.expanded{
      transform: translateY(0);
    }
  }
  &__title{
    font-family: 'Alegreya Sans', sans-serif;
  font-weight: 800;
  margin: 10px 30px 10px -5px;
  }
&__chevron {
  position: absolute;
  bottom: 20px;
  left: calc(50% - 15px);
  transform-origin: 50%;
  transform: rotate(180deg);
  transition: transform 1000ms;
  
  &.expanded {
    transform: rotate(0deg);
  }
}
// &__textcontent {
//  transform: translateY(-140px);
//  transition: transform 1000ms;
  
//   &.expanded {
//  transform: translateX(-15px);
//   }
//  }
}


* {
  @include transition-property(
    background-color,
    border-color,
    box-shadow,
    color,
    opacity,
    text-shadow,
    transform
  );
  @include transition-duration(0.2s);
  @include transition-timing-function(linear);
}




// @import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:900');
// body {
//   align-items: center;
//   display: flex;
//   height: 100vh;
//   justify-content: center;
//   font-family: sans-serif;
//   margin: 0;
//   background: #6D6027;
//   background: -webkit-linear-gradient(left, #D3CBB8, #6D6027);
//   background: -o-linear-gradient(left, #D3CBB8, #6D6027);
//   background: linear-gradient(to right, #D3CBB8, #6D6027);
// }
// .card {
//    position: relative;
//   background: white;
//   border-radius: 8px;
//   box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
//   cursor: pointer;
//   height: 300px;
//   margin: 20px;
//   padding: 0 20px;
//   -webkit-tap-highlight-color: rgba(0,0,0,0.025);
//   position: relative;
//   text-align: center;
//   transition: height 1000ms;
//   width: 260px;
  
//   &.expanded {
//     height: 400px;
//   }

//   &__bodytext{
//     padding: 0px 10px;
//     margin:0 auto;
//     &.expanded{
//        margin: 10px auto ;
//     }
//   }
  
  
// &__image { 
//   margin-top: 30px;
//    transform: translateY(10px);
//   transition: transform 1000ms;
//   // z-index:1;
//   &.expanded {
//   transform: translateX(0); 
//  }  
// } 

// &__text1 {

//    clip-path: polygon(0% 100%, 0 -90%, 50% -5%, 100% -70%, 100% 100%);
//   -webkit-clip-path: polygon(0% 100%, 0 -90%, 50% -5%, 100% -90%, 100% 100%); 
//   transition: clip-path 1000ms;
 
//    // z-index:2;
//   &.expanded {
//      clip-path:none;
//      // clip-path: polygon(0% 100%, 0 -100%, 50% -25%, 100% -100%, 100% 100%); 
//   }
// }
//   &__textcontent{
   
//     position: absolute;
//     bottom: 0;
//     width: 100%;
//     padding: 5px 10px;
//     // background-color: rgba(255, 255, 255, 0.8);
//      clip-path: polygon(0% 100%, 0 -90%, 50% -5%, 100% -90%, 100% 100%);
//   -webkit-clip-path: polygon(0% 100%, 0 -90%, 50% -5%, 100% -90%, 100% 100%); 
//   transition: clip-path 100ms;
//     transform: translateY(-108%);
//     transition: transform 0.5s ease-in-out;
//     &.expanded{
//       transform: translateY(0);
//     }
//   }
//   &__title{
//     font-family: 'Alegreya Sans', sans-serif;
//   font-weight: 800;
//   margin: 10px 30px 10px -5px;
//   }
// &__chevron {
//   position: absolute;
//   bottom: 20px;
//   left: calc(50% - 15px);
//   transform-origin: 50%;
//   transform: rotate(180deg);
//   transition: transform 1000ms;
  
//   &.expanded {
//     transform: rotate(0deg);
//   }
// }
// // &__textcontent {
// //  transform: translateY(-140px);
// //  transition: transform 1000ms;
  
// //   &.expanded {
// //  transform: translateX(-15px);
// //   }
// //  }
// }