.cards {
  margin: 0 auto;
  width: 500px;
  height: 300px;
}
.cards > p {
  margin-left: 1rem;
  text-align: center;
}

img {
  margin: 0 auto;
  text-align: center;
  width: 300px;
  height: 300px;
}
.show-btns {
  padding: 1rem;
  background: transparent;
  border-radius: 1rem;
  font-size: 1rem;
}
.show-btns:hover {
  background: rgb(65, 194, 159);
}
.showNavigation {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 8rem;
}
.items {
  padding: 0 0 0 1rem;
}
