.colorPanel_container {
    height: 100vh;
    background: whitesmoke;
    /* border: 8px solid black; */
    width:800px;
    margin:0 auto;
    
  }

.move {
    background-color: #000;
    color: #fff;
    height: 100px;
    position: absolute;
    bottom: -222px; 
    left:40%;
    /* -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out; */
    opacity:0;
    transition: all 0.7s ease-in-out ;
    width: 400px;
    
}
.move:hover {
    bottom: -222px;
    height:260px;
    animation: change-opacity 4s;
    opacity:1;
    transition: all 0.7s ease-in-out ; 
    overflow:hidden;
} 
@keyframes change-opacity {
    0% {
      opacity:0;
    }
   
    100%{
        opacity:1;
    }
  }

.color-swatch {
    margin:10px auto;
    display:block;
    width:350px;
  }

.color-button {
    text-align:center;
    /* left:40%; 
    transform: translateY(-10%); */
    background-color: transparent;
    border: 1px solid transparent;
    color: #fff;
    padding:10px 0 0 0;
  }

  .color-list {
    width:350px;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
    
  }
  
  .color-item {
    width: 30px;
    height: 30px;
    margin: 4px;
    border: none;
    cursor: pointer;
   
  }

























    /* https://www.joshwcomeau.com/animation/css-transitions/ */