/* :root {
  --background: white;
  --text-primary: black;
  --text-secondary: royalblue;
  --accent: purple;
} */
/* [data-theme='dark'] {
  --background: black;
  --text-primary: white;
  --text-secondary: grey;
  --accent: darkred;
} */
.switchTheneButton{
  padding:5px 20px 0px 20px;
}
.searchIcon{
  font-size:x-large;
}

[data-theme="light"] .App {
  /* Background color */
  background-color: #ffffff;
  color: #333333;
}
[data-theme="dark"] .App{
  /* Background color */
  background-color: 	#A9A9A9;
   color: #ffffff;
}