.articleList {
    margin: 80px auto 0 auto;
    width: 300px;
    font-family: Poly Sans, Helvetica, Arial, sans-serif;
    font-size: 19px;
    font-weight: 900;
    line-height: 1.2em;
  
    &__article {
      display: flex;
    }
    &__number {
      color: blue;
      margin-top: 20px;
      padding-right: 20px;
    }
    &__title {
      color: black;
      margin: 20px 0;
      cursor: pointer;
      a {
        color: black;
      }
      a:visited {
        @extend a;
      }
      a:hover {
        color: #5200ff;
      }
    }
    &__line {
      border-bottom: 1px solid blue;
      width: 150px;
    }
  
    &__bgtext {
      display: flex;
      position: relative;
      font-family: Manuka Condensed, Impact, Helvetica, sans-serif;
      &::after {
        margin: 2.7em 0 0 -4.7em;
        line-height: 1;
        font-size: 90px;
        font-weight: 600;
        height: 100%;
        content: "Most Popular";
        position: absolute;
        width: 1200px;
        rotate: -90deg;
        transform: scaleY(1.65);
        // color: #40cfc7;
        color:#4cbfb9;
        top: 0;
        left: 0;
        z-index: -1;
      }
    }
  }
  