.toolChoice {
   

    &__selection{
        display:flex;
        justify-content: center;
        align-items:center;
        border-bottom:4px solid transparent;
        border-image: linear-gradient(to right,#50AD6C, #5550AD, #B87666,#B8666B,#F1E984,#2cdcd3) 4;
       
    }
    &__button{
        width:150px;
        height:50px;
        text-align:center;
        padding:10px;
        color:#999;
        font-size: 1.4em;
        font-weight:700;
        &:hover{
            color: #667ee9;
        }
        &-active {
            // color:#03958e;
            color:linear-gradient(to right,#03958E, #5550AD, #B87666,#B8666B,#F1E984,#a664f0, #5195bf);
            background-repeat:repeat-x;
            border-top:4px solid #03958e;
            border-right: 4px solid transparent;
            border-left: 4px solid transparent;
            position:relative;
            top:4px;
            color:#03958e;
            // color:#14B8A6;
            background:whitesmoke;
            border-image: linear-gradient(to right,#03958E, #5550AD, #B87666,#B8666B,#F1E984,#a664f0, #5195bf) 4 ;
            animation: rainbow 5s ease-in infinite;
            
           
        }
    }
}

@keyframes rainbow {
    from {
      border-image-slice: 1;
      // border-image-source: linear-gradient(to right, #50AD6C, #5550AD, #B87666,#B8666B,#F1E984,#64EDE6) 2;
      border-image: linear-gradient(to right,#03958E, #5550AD, #B87666,#B8666B,#F1E984,#a664f0, #5195bf) 4 ;
    }
    to {
      border-image-slice: 1;
      border-image: linear-gradient(to right,#03958E, #5550AD, #B87666,#B8666B,#F1E984,#a664f0, #5195bf) 4 ;
      // #64b8ed
      // border-image-source: linear-gradient(to right, #50AD6C, #5550AD, #B87666,#B8666B,#F1E984,#64EDE6) 2;
    }
  }
  
