.emailSubscriptionForm {
  margin: 150px auto;
  width: 420px;
  height: 520px;
  font-family: Elena, -apple-system, BlinkMacSystemFont, Roboto, roboto slab,
    droid serif, segoe ui, system-ui, Arial, sans-serif;
  background-color: #4cbfb9;

  text-align: center;
  z-index:-1;
  &__image {
    width: 200px;
    height: 200px;
    margin:-80px auto 0px auto;
    z-index:10;

  }

  &__newsletter {
    color: #d33a2c;
    width: 280px;
    background: white;
    margin: 20px auto 30px auto;
    padding: 10px;
    font-size: 1.2rem;
    line-height: 1.2;
    font-weight: 700;
  }

  &__header {
    width: 350px;
    font-weight: 600;
    font-size: 1.5em;
    margin: 0 auto;
  }
  &__content {
    width: 340px;
    line-height: 1.5;
    font-size: 1.1em;
    font-weight: 400;
    margin: 20px auto;
    text-align: center;
    &-link {
      color: #0168b8;
    }
  }
  &__label {
    display: flex;
    justify-content: center;
  }

  &__input {
    padding: 20px;
    border: 1px solid #bbb;
    width: 180px;
    border-radius: 15px 0 0 15px;
    &:focus {
      border: 1px solid black;
      outline: none;
    }
    &::placeholder {
      color: #bbb;
      font-size: 1.5em;
    }
  }
  &__button {
    background-color: #0168b8;
    color: white;
    width: 140px;
    border: none;
    cursor: pointer;
    padding: 17px;
    font-size: 1.2em;
    border-radius: 0 15px 15px 0;
  }

  &__smallText {
    margin-top: 10px;
    font-size: 0.8em;
    font-style: italics;
    color: #666;
    &-link {
      text-decoration: underline;
    }
  }
}
